@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Honk&family=Russo+One&display=swap');

*{
  font-family: "Russo One", sans-serif;
}
:root {
  --principal-color: #43fe6c;
}

body {
  background-color: black !important;
  overflow-x: hidden;
}
#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  position: relative;
  font-size: 4vw;
  text-transform: uppercase;
  color: black;
  -webkit-text-stroke: 0.3vw #383d52;
  margin: 2% 0 0 25px;
  font-family: 'Poppins', sans-serif;
  animation: bounceIn 2s ease-in-out;
}

h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: var(--principal-color);
  -webkit-text-stroke: 0vw #383d52;
  border-right: 3px solid var(--principal-color);
  overflow: hidden;
  animation: animate 8s forwards;
}

@keyframes animate {
  0%, 10%, 100%{
    width: 0;
  }
  40%, 100% {
    width: 30%;
    color: var(--principal-color); 
  }
}

.all-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.explicacio .pistes{
  color: red;
}

ul li{
  text-transform: uppercase;
  list-style: none;
}

.inicia {
  margin-top: 10%;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 15px 10px;
  background-color: #000;
  color: var(--principal-color);
  font-weight: bold;
  border: 1px solid var(--principal-color);
  border-radius: 3px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Black Ops One', sans-serif;
  width: 250px;
  animation: bounceIn 1.8s ease-out;
}

.inicia:hover {
  background: var(--principal-color);
  color: #050801;
  box-shadow: 0 0 5px var(--principal-color), 0 0 25px var(--principal-color), 0 0 50px var(--principal-color),
    0 0 200px var(--principal-color);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}



p {
  text-align: justify;
  font-size: 15px;
  font-weight: 100;
  font-style: normal;
  color: var(--principal-color);
  line-height: 25px;
  margin: 0 20px;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1);
  }
  70% {
    opacity: 0.8;
    transform: scale(1-3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.explicacio {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  text-align: justify;
  max-width: 1000px;
  line-height: 1.5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  animation: bounceIn 1.8s ease-out;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 173, 39, 0.7863247863247863) 100%);
  font-weight: 400;
  font-style: normal;
  animation: bounceIn 1.8s ease-out;
}

footer p,
footer span{
  color: white !important;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none !important;
}

footer a span {
  color: white !important;
  transition: color 1s ease-out; 
}

footer a:hover span {
  color: #43fe6c !important;
}